@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

.dark-theme{
  --primary-color:#000;
  --secondary-color:#18181a;
  --tertiary-color:#5c4dfe;
  --partial-color:#252529;
  --text-high:#fff;
  --text-low:#d5d0d0;
  --border-color:rgb(61, 57, 57);
}

.light-theme{
  --primary-color:#efefefd5;
  --secondary-color: #fff;
  --tertiary-color:#5c4dfe;
  --text-high:#000;
  --text-low:gray;
   --border-color:rgba(224, 219, 219, 0.478);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .1s ease-in-out; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; 
  height: 100%;

}


a{
  text-decoration: none;
}
li{
  list-style: none;
}
h1,h2,h3,h4,h5,h6,a{
  color: var(--text-high);
}

p{
  color: var(--text-low);
}

.app{
  background:var(--primary-color) ;
  height: 100% !important;
  width: 100%;
  
}


.container{
  background: var(--secondary-color) !important;
  width: 85%;
  height: 100% !important;
  margin: auto !important;
  position: relative;
}

@media screen and (max-width:1300px){
  
.container{
  width: 90%;
}
}


@media screen and (max-width:700px){
  .container{
    width: 100%;
  }
}


button {
  padding: 0.5em;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
}

main {
  padding: 1em;
}


.main{
  padding: 3rem 1rem;
  width: 85%;
  margin: auto;
}

.main-flex{
  display: flex;
  gap: 2rem;

}

.main-flex .left-side, .main-flex .right-side{
  width: 100%;
}
.project-flex{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-box{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  position: relative;
}

.project-box::after{
  content: '';
  width: 100%;
  height: 1px;
  background: var(--border-color);
  position: absolute;
  bottom:0;
left: 0;
}

.main .projects .pj-img-box {
  width: 100%;
  height: 18rem;
}


.main .projects .pj-img-box img{
  width: 100%;
  height: 100%;
}

.projects h3{
  padding-bottom: 2rem;
}

.projects .pj-title{
  font-size: 1.4rem;
  font-weight: 700;
}


.projects .pj-description{
  font-size: .95rem;
}

.project-box a{
  font-size: 1rem;
  font-weight: 700;
  color: var(--tertiary-color);
}