@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

.dark-theme{
  --primary-color:#000;
  --secondary-color:#18181a;
  --tertiary-color:#5c4dfe;
  --partial-color:#252529;
  --text-high:#fff;
  --text-low:#d5d0d0;
  --border-color:rgb(61, 57, 57);
}

.light-theme{
  --primary-color:#efefefd5;
  --secondary-color: #fff;
  --tertiary-color:#5c4dfe;
  --partial-color:#fffdfd;
  --text-high:#000;
  --text-low:gray;
   --border-color:rgba(224, 219, 219, 0.478);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .1s ease-in-out; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; 
  height: 100%;

}


a{
  text-decoration: none;
}
li{
  list-style: none;
}
h1,h2,h3,h4,h5,h6,a{
  color: var(--text-high);
}

p{
  color: var(--text-low);
}

button{
  border: none;
  outline: none;
}

.app{
  background:var(--primary-color) ;
  height: 100% !important;
  width: 100%;
  
}


.container{
  background: var(--secondary-color) !important;
  width: 85%;
  height: 100% !important;
  margin: auto !important;
  position: relative;
}

@media screen and (max-width:1300px){
  
.container{
  width: 90%;
}
}


@media screen and (max-width:700px){
  .container{
    width: 100%;
  }
}


button {
  padding: 0.5em;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
}

.mp{
  width: 100%;
  padding-bottom: 5rem;
  margin: auto;
}

.mp .projects{
  padding: 1rem;
}

.mp .project-flex{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.1rem;
}

.mp .project-box{
  border:1px solid var(--border-color)
}

.mp .project-box::after{
 display: none;
}


@media screen and (max-width:1200px){
  .mp .project-flex{
    grid-template-columns: repeat(2,1fr);
    
  }
}

@media screen and (max-width:700px){
.mp{
  width: 80%;
  padding-bottom: 5rem;
}

.mp .project-flex{
  grid-template-columns:1fr;
}
}

@media screen and (max-width:600px){
  .mp{
    width: 100%;
  }
  .mp .project-flex{
    grid-template-columns:1fr;
  }
}


.articles{
  padding: 3rem 0;
  width: 80%;
  min-height: 100vh;
  margin: auto ;
}

.articles h2{
  width: 80%;
  font-size: 2.8rem;
  font-weight: 800;
}

.articles p{
  padding: 1.5rem 0;
  width: 70%;
  font-size: 1rem;
  font-weight: 500;
}


.articles-flex{
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  position: relative;
}

.articles-flex::before{
content: '';
width: 1px;
height: 100%;
background: var(--border-color);
position: absolute;
left: -2%;
top: 0;
}

.article-box{
  width: 100%;
  display: flex;
  gap:4rem;
}

.article-date{
  width: 20%;
  padding-top: 2rem;
}

.article-date p{
  font-size: .9rem;
}

.article-content{
  padding: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}

.article-content:hover{
  background: var(--partial-color);
}

.article-content h4{
  font-size: 1.17rem;
}

.article-content p{
  font-size: .9rem;
}
.article-content button{
  text-align: left;
  background:none ;
  font-size: .95rem;
  font-weight: 500;
  color: var(--tertiary-color);
}


@media screen and (max-width:800px){
  .articles{
    padding-bottom: 6rem;
    width: 95%;
  }
  .articles h2{
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .articles p{
    padding: 1.5rem 0;
    width: 95%;
  }
  .articles-flex{
    margin: 0rem 0;
 
  }

  .articles-flex::before{
    display: none;
    }

  .article-box{
    gap: 1rem;
    flex-direction: column;
  }

  .article-date{
    width: 100%;
  }

  .article-date p{
    position: relative;
  }
  .article-date p:before{
    content: '|';
    background: var(--border-color);
    position: absolute;
    bottom: 39%;
    left: -5px;
  }  
  .article-content{
    padding: 1rem;
    width: 100%;
    gap: 0rem;
  }
  
}
