/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.light {
  background-color: #f4f4f4;
  color: #333;
}

.dark {
  background-color: #333;
  color: #fff;
}

header {
  padding: 1em;
}

button {
  padding: 0.5em;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
}

main {
  padding: 1em;
}
