
/* Footer  */

footer{
    margin-top: auto !important;
    padding: 1.5rem 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  
  }
  
  footer::before{
    content: '';
    width: 100%;
    height: 1px;
    background: var(--border-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .footer-links{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .footer-links a{
    font-size: .9rem;
    font-weight: 700;
    color: var(--text-high);
    transition: .3s ease-in-out;
  
  }
  
  .footer-links li a:hover{
    color: var(--tertiary-color);
  }
  .footer-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  footer small{
    color: var(--text-high);
    font-size: .9rem;
  }

  @media screen and (max-width:700px){
    
footer{

  padding: 1.5rem 1rem;
}
  
.footer-flex{
  flex-direction: column;
  gap: 1rem;
}

  }