
header {
    padding: 2rem 0;
  }
  
  .navbar{
    display: flex;
    justify-content: center;
   
  }
  
  .menu-links{
    padding: .6rem 2rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    background: var(--partial-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    border-radius: 2rem;
    border: 1px solid var(--border-color);
  }
  
  .menu-links li a{
    font-size: .93rem;
    font-weight: 700;
    transition: .3s ease-in-out;
  }
  
  
  .menu-links li a:hover{
    color: var(--tertiary-color);
  }

  .menu-btn{
    padding: .6rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: var(--secondary-color);
    color: var(--text-high);
    font-weight: 700;
    border-radius: 2rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
    display: none;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  }
  
  .theme-switch{
    padding: .6rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    background: var(--secondary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    color: var(--text-high);
    border-radius: 2rem;
    border: 1px solid var(--border-color);
  }
  
  .theme-switch .icon{
    cursor: pointer;
    opacity: .8;
    transition: .3s ease-in-out;
  }
  
  .theme-switch .icon:hover{
    transform: scale(1.05);
    opacity: 1;
  }
  
  .close-icon{
    color: var(--text-high);
    opacity: .8;
    float: right !important;
    display: none !important;
    cursor: pointer;
  }
  .blur{
    width: 0%;
    height: 0%;
    display: none;
  }
  @media screen and (max-width:700px){

.blur{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); 
    top: 0;
    left: 0;
    position: absolute !important;
    display: none;
    
}


  .menu-links{
    padding: 2rem;
    width: 95%;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background: var(--secondary-color);
    display: none;
    animation: animatezoom .3s ease-in-out;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
   
  }

    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  .menu-btn{
    display: inherit !important;
  }
  
  .close-icon{
    display: inherit !important;
  }
  .menu-links li{
    position: relative;
    padding: .3rem;
  }

  .menu-links li a{
    font-size: 1.04rem;
  }

  .menu-links li::after{
    content: '';
    width: 100%;
    height: .2px;
    background: var(--border-color);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .4;
  }
  
  }